:root {
    --font: #afb8dd;
    --link: #afffbb;
}

*, * ::before, * ::after {
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("mountainview.png");
    max-width: 100vw;
    max-height: 100vh;
    background-size: cover;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome                         */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

hr {
    border-color: var(--font);
}

main {
    text-align: center;
    color: var(--font);
    position: absolute;
    right: 0;
    width: 500px;
    height: 100%;
    background-color: rgba(10,20,23,0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

hr {
    width: 400px;
}

p {
    padding: 20px;
    font-size: 26px;
    text-align: justify;
    max-width: 400px;
}

form div {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    font-size: 18px;
}

form {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    width: 400px;
    height: 30px;
    margin: 20px 0;
    border: 1px solid var(--font);
    background-color: rgba(10,20,23,0.3);
    color: var(--font);
}

button:hover {
    background-color: rgba(10,20,23,0.8);
}

button:active {
    background-color: rgba(20,40,53,0.7);
}

a {
    text-decoration: none;
    color: var(--link);
}